.asubheaderContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #3d161625;
  height: 2.5rem !important;
  border-radius: 10px;
}

.asubheaderBlob {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d1616;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-right: 20px;
  width: 175px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.asubheaderBlob.active {
  background-color: #fff;
  color: #3d1616;
  border: 3px solid #3d1616;
  font-weight: bold;
  padding: 7px 13px;
}

.asubheaderBlob:hover {
  background-color: #3d1616aa;
  border: 3px solid #3d1616;
  color: #fff;
  font-weight: bold;
  padding: 7px 13px;
}