 .overlayBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlayContent {
  background: #F8FAFC;
  width: 90%;
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: slideUp 0.3s ease-out;
}

.overlayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.overlayIconWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.overlayHeader h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.closeBt {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.overlayBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.overlayBody p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.overlayBody button {
  background-color: #3d1616;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}