.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(1px);
}

.modalContainer {
  background: #F8FAFC;
  width: 90%;
  max-width: 400px;
  height: fit-content;
  max-height: 500px;
  padding: 0.5rem 1.25rem 0 1.75rem;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: softRise 0.4s ease-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.CloseBtnArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.CloseBtn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  color:#3d1616;
}

.CloseBtm:hover {
  opacity: 0.7;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.modalTitle {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #3d1616;
}

.modalScrollArea {
  flex: 1;
  margin: 0.5rem 0 2rem 0;
  padding-right: 1rem;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.modalScrollArea::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

.modalScrollArea::-webkit-scrollbar-thumb {
  background: #3d1616aa;
}

.modalScrollArea::-webkit-scrollbar-thumb:hover {
  background: #3d1616;
}

.statusToggleContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0.5rem;
}

.statusSwitch {
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.3s ease;
}

.statusSwitch.active {
  background-color: #4caf50;
}

.statusSwitch.inactive {
  background-color: #f44336;
}

.switchHandle {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s ease;
}

.active .switchHandle {
  transform: translateX(26px);
}

.statusLabel {
  font-weight: 600;
  font-size: 0.75rem;
}

.text-active { color: #4caf50; }
.text-inactive { color: #f44336; }